.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo{
  width: 150px;
  height: 90px;
}



/* Navigation  */


.navigation{
  background-color: rgb(0, 26, 2);
  height: 100px;
  font-weight: bold;
  color: #ffffff;
}

/* Logo */




#navbarScrollingDropdown{
  align-items: end;
  justify-content: end;
  text-align: end;

}

.profile-image{
  float:right;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.username{
  padding-left: 10%;
}
.logout{
  background-color: red;
}

/* ################################################# */

/* Footer */
.footer{
  display: flex;
  background-color: rgb(0, 26, 2);
  height: 95px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #ffffff;
  flex-shrink: 0 ;
  
}

.main{
  flex-grow: 1;
  min-height: 500px;
}

.form-row{
  background-color: rgb(29, 44, 35);
  padding: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-rowlogin{
  background-color: rgb(29, 44, 35);
  padding: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-rowWelcome{
  background-color: rgb(29, 44, 35);
  padding: 82px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.column{
  background-color:  rgb(65, 103, 90);
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: rgb(75, 73, 73);
  height: auto;
  border-radius: 10px;
}

.div-form{
  border-style: solid;
  border-width: thin;
  font-size: 24px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: rgb(136, 153, 117);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  border-color: rgb(5, 3, 0);
  margin-top: 10px;
  margin-bottom: 10px;
}

.div-formWelcome{
  border-style: solid;
  border-width: thin;
  font-size: 24px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
  /* padding-top: 10px; */
  background-color: rgb(29, 44, 35);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  border-color: rgb(29, 44, 35);
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: #ffffff;
}

.button{
  text-align: center;
  padding: 10px;
  width: 100px;
  background-color: rgb(107, 84, 16);
  border-style: none;
}

.buttonWelcome{
  text-align: center;
  padding: 10px;
  width: 300px;
  background-color: rgb(107, 84, 16);
  border-style: none;
}

.smalltext{
  font-size: 14px;
  font-weight: bold;
  color: #030303;
}

.error{
  color: rgb(182, 30, 30);
  font-size: small;
}

.loginImage{
  width: 100%;
  height: 100%;
}
.WelcomeImage{
  width: 10px;
  height: 500px;
}



.headingForm{
font-family: "fantasy";
font-size: 50px;
font-weight: bold;
color: rgb(1, 47, 1);

}

.sloginForm{
font-size: medium;
color: rgb(1, 47, 1);
}


.linkStyle{
  color:aquamarine
}



.footer-unordered-list {
  list-style-type: none;
  padding: 5pc;
  margin: 0;
  /* display: flex; */
}

.footer-list {
  margin-right: 20px;
}

.footer-list a {
  color: #cefebc;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-list a:hover {
  color: #ccc;
}


/* ##################################################### */

/* Home */


.services {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}

.service-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.service-item img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.service-item span {
  font-size: 20px;
  font-weight: bold;
}

.service-item:hover {
  background-color: #c0f2e1; /* Change to desired hover background color */
  transition: background-color 0.3s ease;
}


/* ##################################################### */


/* servicess */

.servicesImg{
  width: 150px;
  height: 150px;
  padding: 20px;
}

.serviceTitle{
  font-size: 50px;
  font-weight: bold;
  color: rgb(1, 47, 1);
  padding: 20px;
  text-align: center;
  
}

/* ##################################################### */

.paddingForPages{
  padding: 30px;

}


/* Register Admin */
.ButtonCneter{

  text-align: center;

}

.displayPrice{
  font-size: 20px;
  font-weight: bold;
  color: rgb(1, 47, 1);
  /* padding: 20px; */
  text-align: center;
}

.priceColor{
  color: red;
}